<launch>
  <!-- CARLA connection -->
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='10'/>

  <!-- Ego vehicle -->
  <arg name="vehicle_filter" default="vehicle.tesla.model3" />
  <arg name="sensor_definition_file" default="$(find waypoint_tracking)/config/sensors.json"/>
  <arg name="role_name" default="ego_vehicle"/>

  <!-- Map to load on startup (either a predefined CARLA town (e.g. 'Town01'), or a OpenDRIVE map file) -->
  <arg name="town" default=''/>
  
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <arg name="spawn_point" default="20.5, 210.8, 1.0, 0, 0, 0"/>
  <arg name="remap_rviz_initialpose_goal" default="True"/>
  <arg name="spawn_ego_vehicle" default="True" />

  <param name="/carla/host" value="$(arg host)" />
  <param name="/carla/port" value="$(arg port)" />
  <param name="/carla/timeout" value="$(arg timeout)" />

  <!-- Synchronous mode-->
  <arg name='synchronous_mode' default=''/>
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default=''/>
  <arg name='fixed_delta_seconds' default=''/>
  
  <!-- 
    If enabled, remap topics to support setting initialpose and goal with RVIZ

    This does not work for multiple ego-vehicles.
  -->
  <group if="$(eval remap_rviz_initialpose_goal)">
    <node pkg="topic_tools" type="relay" name="goal_relay_$(arg role_name)" args="/move_base_simple/goal /carla/$(arg role_name)/goal"/>
    <node pkg="topic_tools" type="relay" name="initialpose_relay_$(arg role_name)" args="/initialpose /carla/$(arg role_name)/initialpose"/>
  </group>

  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='timeout' value='$(arg timeout)'/>
    <arg name='synchronous_mode' value='$(arg synchronous_mode)'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
  </include>
  
  <node pkg="carla_ego_vehicle" type="carla_ego_vehicle.py" name="carla_ego_vehicle_$(arg role_name)" output="screen">
    <param name="sensor_definition_file" value="$(arg sensor_definition_file)" />
    <param name="vehicle_filter" value="$(arg vehicle_filter)" />
    <param name="spawn_point" value="$(arg spawn_point)" />
    <param name="role_name" value="$(arg role_name)" />
    <param name="spawn_ego_vehicle" value="$(arg spawn_ego_vehicle)" />
  </node>
  
  <include file="$(find carla_manual_control)/launch/carla_manual_control.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>
  <node pkg="waypoint_tracking" type="stanley_control.py" name="driver" />
</launch>
